<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>arteriole</string>
		<key>shortcut</key>
		<string>a</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>venule</string>
		<key>shortcut</key>
		<string>v</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>capillry</string>
		<key>shortcut</key>
		<string>c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>epithelium</string>
		<key>shortcut</key>
		<string>epi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fibroblast cell</string>
		<key>shortcut</key>
		<string>fb.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lumen</string>
		<key>shortcut</key>
		<string>l</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>simple</string>
		<key>shortcut</key>
		<string>si</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratified</string>
		<key>shortcut</key>
		<string>st</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pseudostratified</string>
		<key>shortcut</key>
		<string>ps</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>squamous</string>
		<key>shortcut</key>
		<string>sq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cuboidal</string>
		<key>shortcut</key>
		<string>cu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cuboidal</string>
		<key>shortcut</key>
		<string>cb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>columnar</string>
		<key>shortcut</key>
		<string>co</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>columnar</string>
		<key>shortcut</key>
		<string>cl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>transitional</string>
		<key>shortcut</key>
		<string>tr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fungiform</string>
		<key>shortcut</key>
		<string>fu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>filiform</string>
		<key>shortcut</key>
		<string>fi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>foliate</string>
		<key>shortcut</key>
		<string>fo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>neurons</string>
		<key>shortcut</key>
		<string>ne</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mucosa</string>
		<key>shortcut</key>
		<string>mu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lamina propria</string>
		<key>shortcut</key>
		<string>la</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lamina propria</string>
		<key>shortcut</key>
		<string>lp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>muscularis mucosa</string>
		<key>shortcut</key>
		<string>mm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>muscularis externa</string>
		<key>shortcut</key>
		<string>me</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>longitudinal of muscularis</string>
		<key>shortcut</key>
		<string>ml</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>circular of muscularis</string>
		<key>shortcut</key>
		<string>mc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>adventitia</string>
		<key>shortcut</key>
		<string>ad</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>keratinized</string>
		<key>shortcut</key>
		<string>ke</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>nonkeratinized</string>
		<key>shortcut</key>
		<string>nonke</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vallate</string>
		<key>shortcut</key>
		<string>va</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>serous cell</string>
		<key>shortcut</key>
		<string>o.se</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>serous demilune</string>
		<key>shortcut</key>
		<string>o.se1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mucous cell</string>
		<key>shortcut</key>
		<string>o.mu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>intercalated duct</string>
		<key>shortcut</key>
		<string>o.d1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>striated duct</string>
		<key>shortcut</key>
		<string>o.d2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>excretory duct</string>
		<key>shortcut</key>
		<string>o.d3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>acinus</string>
		<key>shortcut</key>
		<string>o.s1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>myoepithelial cell</string>
		<key>shortcut</key>
		<string>o.myo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>enamel</string>
		<key>shortcut</key>
		<string>o.en</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>enamel rods</string>
		<key>shortcut</key>
		<string>o.en1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dentin</string>
		<key>shortcut</key>
		<string>o.de</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dentinal tubules</string>
		<key>shortcut</key>
		<string>o.de1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pulp cavity</string>
		<key>shortcut</key>
		<string>o.pulp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ameloblasts</string>
		<key>shortcut</key>
		<string>o.a</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>odontoblasts</string>
		<key>shortcut</key>
		<string>o.o</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>minor salivary gland</string>
		<key>shortcut</key>
		<string>o.m</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>submandibular</string>
		<key>shortcut</key>
		<string>subm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sublingual</string>
		<key>shortcut</key>
		<string>subl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>gland</string>
		<key>shortcut</key>
		<string>gl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>papillae</string>
		<key>shortcut</key>
		<string>pap</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cementum</string>
		<key>shortcut</key>
		<string>o.ce</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>submucosal plexus</string>
		<key>shortcut</key>
		<string>gi.p1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>submucosal plexus</string>
		<key>shortcut</key>
		<string>gi.psm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>myenteric plexus</string>
		<key>shortcut</key>
		<string>gi.p2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>myenteric plexus</string>
		<key>shortcut</key>
		<string>gi.pmy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>muscularis mucosa</string>
		<key>shortcut</key>
		<string>gi.mm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>muscularis externa</string>
		<key>shortcut</key>
		<string>gi.me</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>inner circular of muscularis externa</string>
		<key>shortcut</key>
		<string>gi.mc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>outer longitudinal of muscularis externa</string>
		<key>shortcut</key>
		<string>gi.ml</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>serosa</string>
		<key>shortcut</key>
		<string>gi.s</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lymph nodule</string>
		<key>shortcut</key>
		<string>lym1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>small lymphocyte</string>
		<key>shortcut</key>
		<string>lym</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>esophagus</string>
		<key>shortcut</key>
		<string>eso</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stomach</string>
		<key>shortcut</key>
		<string>sto</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>surface epithelium cell</string>
		<key>shortcut</key>
		<string>gas.epi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>prominent terminal bar</string>
		<key>shortcut</key>
		<string>gas.epi1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>gastric gland</string>
		<key>shortcut</key>
		<string>gas.g</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mucous neck cell</string>
		<key>shortcut</key>
		<string>gas.n</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>parietal cell</string>
		<key>shortcut</key>
		<string>gas.p</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>chief cell</string>
		<key>shortcut</key>
		<string>gas.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>enteroendocrine cell</string>
		<key>shortcut</key>
		<string>gas.endo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>intestine</string>
		<key>shortcut</key>
		<string>in</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>goblet cell</string>
		<key>shortcut</key>
		<string>gb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>duodenum</string>
		<key>shortcut</key>
		<string>du</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>enterocytes</string>
		<key>shortcut</key>
		<string>sin.epi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>columnar absorptive cell</string>
		<key>shortcut</key>
		<string>sin.c0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>goblet cell</string>
		<key>shortcut</key>
		<string>sin.gb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>paneth cell</string>
		<key>shortcut</key>
		<string>sin.p</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>paneth cell</string>
		<key>shortcut</key>
		<string>sin.c1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>enteroendocrine cell</string>
		<key>shortcut</key>
		<string>sin.endo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>brunner gland</string>
		<key>shortcut</key>
		<string>sin.g2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>intestinal gland</string>
		<key>shortcut</key>
		<string>sin.g1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>circular fold</string>
		<key>shortcut</key>
		<string>sin.fold</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lacteal duct</string>
		<key>shortcut</key>
		<string>sin.lac</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>peyer's patch</string>
		<key>shortcut</key>
		<string>sin.lym</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>columnar absorptive cells</string>
		<key>shortcut</key>
		<string>lin.epi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>columnar absorptive cells</string>
		<key>shortcut</key>
		<string>lin.c0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>goblet cell</string>
		<key>shortcut</key>
		<string>lin.gb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>enteroendocrine cells</string>
		<key>shortcut</key>
		<string>lin.endo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vermiform appendix</string>
		<key>shortcut</key>
		<string>闌尾</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vermiform appendix</string>
		<key>shortcut</key>
		<string>ap</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>large intestinal gland</string>
		<key>shortcut</key>
		<string>lin.g</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>taenia coli</string>
		<key>shortcut</key>
		<string>lin.me</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lymph nodule.lin.lym</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bile duct</string>
		<key>shortcut</key>
		<string>hep.b</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>branch of hepatic arterial</string>
		<key>shortcut</key>
		<string>hep.a</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>branch of hepatic portal vein</string>
		<key>shortcut</key>
		<string>hep.v</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>hepatic cord</string>
		<key>shortcut</key>
		<string>h.cd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>hepatic cord</string>
		<key>shortcut</key>
		<string>h.cl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>hepatocytes</string>
		<key>shortcut</key>
		<string>h.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>kupffer cells</string>
		<key>shortcut</key>
		<string>h.k</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sinusoid</string>
		<key>shortcut</key>
		<string>h.sin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>space of disse</string>
		<key>shortcut</key>
		<string>h.d</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>space of disse</string>
		<key>shortcut</key>
		<string>h.sp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>endothelial cell</string>
		<key>shortcut</key>
		<string>h.vc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>endothelial cell</string>
		<key>shortcut</key>
		<string>h.en</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>gallbladder</string>
		<key>shortcut</key>
		<string>gall</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mucosa fold</string>
		<key>shortcut</key>
		<string>gallfold</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>serous acini</string>
		<key>shortcut</key>
		<string>pan.ex</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>serous acini</string>
		<key>shortcut</key>
		<string>pan.a</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>serous acinar cell</string>
		<key>shortcut</key>
		<string>pan.ac</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>centroacinal cells</string>
		<key>shortcut</key>
		<string>pan.ac1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>centroacinal cells</string>
		<key>shortcut</key>
		<string>pan.ca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>intercalated ducts</string>
		<key>shortcut</key>
		<string>pan.d1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>excretory ducts</string>
		<key>shortcut</key>
		<string>pan.d2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>islets of langerhans</string>
		<key>shortcut</key>
		<string>pan.endo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>islets of langerhans</string>
		<key>shortcut</key>
		<string>pan.i</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>afferent arteriole</string>
		<key>shortcut</key>
		<string>re.aa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>efferent arteriole</string>
		<key>shortcut</key>
		<string>re.ea</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bowman's space</string>
		<key>shortcut</key>
		<string>re.b</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>podocytes</string>
		<key>shortcut</key>
		<string>re.p</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>capillaries plexuses</string>
		<key>shortcut</key>
		<string>re.inb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>capillaries plexuses</string>
		<key>shortcut</key>
		<string>re.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vascular pole</string>
		<key>shortcut</key>
		<string>re.vp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>urinary pole</string>
		<key>shortcut</key>
		<string>re.up</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>proximal convoluted tubule</string>
		<key>shortcut</key>
		<string>re.pct</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>distal convoluted tubule</string>
		<key>shortcut</key>
		<string>re.dct</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>macula densa</string>
		<key>shortcut</key>
		<string>re.d</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>jg cell</string>
		<key>shortcut</key>
		<string>re.jg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>collecting tubules</string>
		<key>shortcut</key>
		<string>re.coll</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thick descending limbs of henle`s loop</string>
		<key>shortcut</key>
		<string>re.dh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thick descending limbs of henle`s loop</string>
		<key>shortcut</key>
		<string>re.h1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thick ascending limbs of henle`s loop</string>
		<key>shortcut</key>
		<string>re.ah</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thick ascending limbs of henle`s loop</string>
		<key>shortcut</key>
		<string>re.h3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>medullary ray</string>
		<key>shortcut</key>
		<string>re.mr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thin segment of henles</string>
		<key>shortcut</key>
		<string>re.th</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thin segment of henles</string>
		<key>shortcut</key>
		<string>re.h2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>endothelial cell</string>
		<key>shortcut</key>
		<string>endo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ureter</string>
		<key>shortcut</key>
		<string>ur.1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>longitudinal of muscularis</string>
		<key>shortcut</key>
		<string>ur.lm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>longitudinal of muscularis</string>
		<key>shortcut</key>
		<string>ur.ml</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>circular of muscularis</string>
		<key>shortcut</key>
		<string>ur.cm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>circular of muscularis</string>
		<key>shortcut</key>
		<string>ur.mc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>urinary bladder</string>
		<key>shortcut</key>
		<string>ur.b</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>urinary bladder</string>
		<key>shortcut</key>
		<string>ub.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>urethra</string>
		<key>shortcut</key>
		<string>ur.2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>intraepithelial gland</string>
		<key>shortcut</key>
		<string>ur.g1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>intraepithelial gland</string>
		<key>shortcut</key>
		<string>ur.gepi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>littre gland</string>
		<key>shortcut</key>
		<string>ur.g2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>littre gland</string>
		<key>shortcut</key>
		<string>ur.gl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>testis</string>
		<key>shortcut</key>
		<string>t.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tunica albuginea</string>
		<key>shortcut</key>
		<string>t.ct2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>seminiferous tubule</string>
		<key>shortcut</key>
		<string>t.t</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>seminiferous tubule</string>
		<key>shortcut</key>
		<string>t.1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>interstitial tissue</string>
		<key>shortcut</key>
		<string>t.ct1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>spermatogonia</string>
		<key>shortcut</key>
		<string>t.s0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>primary spermatocyte</string>
		<key>shortcut</key>
		<string>t.s1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>early spermatid</string>
		<key>shortcut</key>
		<string>t.s31</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>late spermatid</string>
		<key>shortcut</key>
		<string>t.s32</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sertoli cell</string>
		<key>shortcut</key>
		<string>t.s</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>leydig cell</string>
		<key>shortcut</key>
		<string>t.l</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>myoid cell</string>
		<key>shortcut</key>
		<string>t.m</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>epididymis</string>
		<key>shortcut</key>
		<string>epd.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>principal cell</string>
		<key>shortcut</key>
		<string>epd.p</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>principal cell</string>
		<key>shortcut</key>
		<string>epd.c1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>basal cell</string>
		<key>shortcut</key>
		<string>epd.b</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>basal cell</string>
		<key>shortcut</key>
		<string>epd.c2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>halo cell</string>
		<key>shortcut</key>
		<string>epd.h</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>halo cell</string>
		<key>shortcut</key>
		<string>epd.c3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ductus deferens</string>
		<key>shortcut</key>
		<string>dd.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>seminal vesicle</string>
		<key>shortcut</key>
		<string>sv.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>prostatic gland</string>
		<key>shortcut</key>
		<string>pg.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>prostatic concretions</string>
		<key>shortcut</key>
		<string>pg.1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fibromuscular stroma</string>
		<key>shortcut</key>
		<string>pg.2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>penis</string>
		<key>shortcut</key>
		<string>pen.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tunica albuginea</string>
		<key>shortcut</key>
		<string>pen.ct1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>deep fascia</string>
		<key>shortcut</key>
		<string>pen.ct2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>trabecula</string>
		<key>shortcut</key>
		<string>pen.ct0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>corpra carverosum</string>
		<key>shortcut</key>
		<string>pen.1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>corpra carverosum</string>
		<key>shortcut</key>
		<string>pen.cc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>corpus spongiosum</string>
		<key>shortcut</key>
		<string>pen.2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>corpus spongiosum</string>
		<key>shortcut</key>
		<string>pen.cs</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>endothelium</string>
		<key>shortcut</key>
		<string>pen.en</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ovary</string>
		<key>shortcut</key>
		<string>ov.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tunica albuginea</string>
		<key>shortcut</key>
		<string>ov.ct</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>primordial follicles</string>
		<key>shortcut</key>
		<string>ov.s0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>primary oocyte</string>
		<key>shortcut</key>
		<string>ov.o0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>follicular cells</string>
		<key>shortcut</key>
		<string>ov.f0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>primary follicles</string>
		<key>shortcut</key>
		<string>ov.s1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>primary oocyte</string>
		<key>shortcut</key>
		<string>ov.o1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>primary follicle</string>
		<key>shortcut</key>
		<string>ov.f10</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum granulosum</string>
		<key>shortcut</key>
		<string>ov.f11</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>theca folliculi</string>
		<key>shortcut</key>
		<string>ov.t1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>zona pellucida</string>
		<key>shortcut</key>
		<string>ov.z</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>antrum</string>
		<key>shortcut</key>
		<string>ov.a</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum granulosum</string>
		<key>shortcut</key>
		<string>ov.sg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>secondary follicles</string>
		<key>shortcut</key>
		<string>ov.s2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>primary oocyte</string>
		<key>shortcut</key>
		<string>ov.o2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum granulosum</string>
		<key>shortcut</key>
		<string>ov.f2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>theca interna</string>
		<key>shortcut</key>
		<string>ov.t21</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>theca interna</string>
		<key>shortcut</key>
		<string>ov.t21</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mature follicle</string>
		<key>shortcut</key>
		<string>ov.m</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>secondary oocyte</string>
		<key>shortcut</key>
		<string>ov.om</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum granulosa</string>
		<key>shortcut</key>
		<string>ov.fm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cumulus oophorus</string>
		<key>shortcut</key>
		<string>ov.fm1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>corona radiata</string>
		<key>shortcut</key>
		<string>ov.fm2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>atretic follicle</string>
		<key>shortcut</key>
		<string>ov.gg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>corpus luteum</string>
		<key>shortcut</key>
		<string>ov.y</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>granulosa luteum cell</string>
		<key>shortcut</key>
		<string>ov.y1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>theca luteum cell</string>
		<key>shortcut</key>
		<string>ov.y2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>corpus albicans</string>
		<key>shortcut</key>
		<string>ov.w</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>theca interna</string>
		<key>shortcut</key>
		<string>ov.ti</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>theca interna</string>
		<key>shortcut</key>
		<string>ov.te</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>follicular fluid</string>
		<key>shortcut</key>
		<string>ov.ff</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>uterine tube</string>
		<key>shortcut</key>
		<string>ut.1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>peg cells</string>
		<key>shortcut</key>
		<string>ut.p</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ciliated columnar cell</string>
		<key>shortcut</key>
		<string>ut.epi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>uterus</string>
		<key>shortcut</key>
		<string>ut.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>endometrium</string>
		<key>shortcut</key>
		<string>ut.l1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>functional layer</string>
		<key>shortcut</key>
		<string>ut.l11</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>basal layer</string>
		<key>shortcut</key>
		<string>ut.l12</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>myometrium</string>
		<key>shortcut</key>
		<string>ut.l2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>longitudinal myometrium</string>
		<key>shortcut</key>
		<string>ut.ml</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>circular myometrium</string>
		<key>shortcut</key>
		<string>ut.mc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>perimetrium</string>
		<key>shortcut</key>
		<string>ut.l3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>uterine gland</string>
		<key>shortcut</key>
		<string>ut.g</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vagina</string>
		<key>shortcut</key>
		<string>vg.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mammary gland</string>
		<key>shortcut</key>
		<string>mm.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lactiferous duct</string>
		<key>shortcut</key>
		<string>mm.d</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lactiferous sinus</string>
		<key>shortcut</key>
		<string>mm.s</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>acinar cells</string>
		<key>shortcut</key>
		<string>mm.c1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>acinar cells</string>
		<key>shortcut</key>
		<string>mm.a</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>myoepithelial cell</string>
		<key>shortcut</key>
		<string>mm.c2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>myoepithelial cell</string>
		<key>shortcut</key>
		<string>mm.myo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>interlobar tissue</string>
		<key>shortcut</key>
		<string>mm.ct3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>interlobular tissue</string>
		<key>shortcut</key>
		<string>mm.ct2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>intralobular tissue</string>
		<key>shortcut</key>
		<string>mm.ct1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pituitary gland</string>
		<key>shortcut</key>
		<string>pi.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pars distalis</string>
		<key>shortcut</key>
		<string>pi.ant</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pars intermedia</string>
		<key>shortcut</key>
		<string>pi.mid</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pars nervosa</string>
		<key>shortcut</key>
		<string>pi.post</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>chromophils</string>
		<key>shortcut</key>
		<string>pi.gc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>chromophils</string>
		<key>shortcut</key>
		<string>pi.g1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>acidophils</string>
		<key>shortcut</key>
		<string>pi.ga</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>basophils</string>
		<key>shortcut</key>
		<string>pi.gb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>chromophobes</string>
		<key>shortcut</key>
		<string>pi.g2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pituicytes</string>
		<key>shortcut</key>
		<string>pi.glia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pituicytes</string>
		<key>shortcut</key>
		<string>pi.pi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>herring bodies</string>
		<key>shortcut</key>
		<string>pi.h</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pituicytes</string>
		<key>shortcut</key>
		<string>pi.p1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pituicytes</string>
		<key>shortcut</key>
		<string>pi.glia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>herring bodies</string>
		<key>shortcut</key>
		<string>pi.p2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thyroid gland</string>
		<key>shortcut</key>
		<string>thy.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thyroid follicles</string>
		<key>shortcut</key>
		<string>thy.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thyroid follicles</string>
		<key>shortcut</key>
		<string>thy.1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>follicular cell</string>
		<key>shortcut</key>
		<string>thy.fc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>follicular cell</string>
		<key>shortcut</key>
		<string>thy.c1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>clear cell</string>
		<key>shortcut</key>
		<string>thy.c2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>colloid</string>
		<key>shortcut</key>
		<string>thy.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>parathyroid gland</string>
		<key>shortcut</key>
		<string>pth.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>chief cell</string>
		<key>shortcut</key>
		<string>pth.c1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>oxyphil cell</string>
		<key>shortcut</key>
		<string>pth.c2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>adrenal gland</string>
		<key>shortcut</key>
		<string>ad.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>zona glomerulosa</string>
		<key>shortcut</key>
		<string>ad.c1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>zona fasciculate</string>
		<key>shortcut</key>
		<string>ad.c2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>spongiocytes</string>
		<key>shortcut</key>
		<string>ad.c2c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>zona reticularis</string>
		<key>shortcut</key>
		<string>ad.c3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>chromaffin cell</string>
		<key>shortcut</key>
		<string>ad.mc1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>chromaffin cell</string>
		<key>shortcut</key>
		<string>ad.ch</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ganglion cell</string>
		<key>shortcut</key>
		<string>ad.mc2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pineal gland</string>
		<key>shortcut</key>
		<string>pin.0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pinealocyte</string>
		<key>shortcut</key>
		<string>pin.c1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pinealocyte</string>
		<key>shortcut</key>
		<string>pin.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>neuroglial cell</string>
		<key>shortcut</key>
		<string>pin.n</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>neuroglial cell</string>
		<key>shortcut</key>
		<string>pin.c2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>brain sand</string>
		<key>shortcut</key>
		<string>pin.bs</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pseudostratified ciliated columnar epithelium</string>
		<key>shortcut</key>
		<string>re.epi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>supporting cell</string>
		<key>shortcut</key>
		<string>re.s</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>besal cell</string>
		<key>shortcut</key>
		<string>re.b</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>olfactory cell</string>
		<key>shortcut</key>
		<string>re.o</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>olfactory cell</string>
		<key>shortcut</key>
		<string>re.n</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>clara cell</string>
		<key>shortcut</key>
		<string>re.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>type i alveolar cell</string>
		<key>shortcut</key>
		<string>re.1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>type ii alveolar cell</string>
		<key>shortcut</key>
		<string>re.2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pacinian corpuscle</string>
		<key>shortcut</key>
		<string>ins.n1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pacinian corpuscle</string>
		<key>shortcut</key>
		<string>ins.np</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>meissner corpuscles</string>
		<key>shortcut</key>
		<string>ins.n2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>meissner corpuscles</string>
		<key>shortcut</key>
		<string>ins.nc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>melanocytes</string>
		<key>shortcut</key>
		<string>int.m</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>melanocytes</string>
		<key>shortcut</key>
		<string>int.c2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>langerhans cell</string>
		<key>shortcut</key>
		<string>ins.l</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>langerhans cell</string>
		<key>shortcut</key>
		<string>ins.c1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>merkel cell</string>
		<key>shortcut</key>
		<string>ins.mk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>merkel cell</string>
		<key>shortcut</key>
		<string>ins.c3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum corneum</string>
		<key>shortcut</key>
		<string>int.sc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum corneum</string>
		<key>shortcut</key>
		<string>int.1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum lucidum</string>
		<key>shortcut</key>
		<string>int.sl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum lucidum</string>
		<key>shortcut</key>
		<string>int.2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum granulosum</string>
		<key>shortcut</key>
		<string>int.sg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum granulosum</string>
		<key>shortcut</key>
		<string>int.3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum spinosum</string>
		<key>shortcut</key>
		<string>int.ss</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum spinosum</string>
		<key>shortcut</key>
		<string>int.4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum basale</string>
		<key>shortcut</key>
		<string>int.sb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stratum basale</string>
		<key>shortcut</key>
		<string>int.5</string>
	</dict>
</array>
</plist>
